@page
@using Polygon.Core.Enums.Editor
@using Polygon.CMS.Business.ViewModels
@using Polygon.CMS.Business.ViewModels.Tesseract
@model Polygon.CMS.Pages.Content.CreatePageModel

@{
    ViewData["Title"] = "Create Page";
    ViewData["PageClass"] = "page__create-page";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create new @Model.ContentTypeAttribute.DisplayName</h1>

<div class="row">
    <div class="col s12">
        @{
            foreach (var prop in Model.PropertyInfo)
            {
                <div class="form-group">
                    <label asp-for="@prop.Name">@prop.DisplayName</label>
                    @{
                        switch (prop.UIType)
                        {
                            case UIType.Textbox:
                                var textbox = new Textbox
                                {
                                    Id = prop.Name,
                                    Placeholder = prop.Placeholder,
                                    Description = prop.Description
                                };
                                @await Html.PartialAsync("Shared/Tesseract/_TesseractTextbox", textbox)
                                break;
                            case UIType.Checkbox:
                                break;
                            case UIType.Wysiwyg:
                                var wysiwyg = new Wysiwyg
                                {
                                    Id = prop.Name
                                };
                                @await Html.PartialAsync("Shared/Tesseract/_TesseractWysiwyg", wysiwyg)
                                break;
                            default:
                                <input asp-for="@prop.Name" type="text" class="form-control" id="@prop.Name" aria-describedby="@($"{prop.Name}Help")" placeholder="@prop.Placeholder">
                                break;
                        }
                    }
                    
                </div>
            }
        }
    </div>
</div>

@*<div class="form-group">
        <label asp-for="PageName">Name</label>
        <input asp-for="PageName" type="text" class="form-control" id="pageName" aria-describedby="pageNameHelp" placeholder="Enter name of the Page">
        <small id="pageNameHelp" class="form-text text-muted">This will be the name of your Page as it appears in the CMS</small>
        <span asp-validation-for="PageName" class="text-danger"></span>
    </div>*@