<!DOCTYPE html>

@{
    var bodyClass = ViewData["PageClass"];
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Polygon</title>
    <link rel="stylesheet" href="~/dist/css/bundle.css" />

</head>

<body class="@bodyClass">
    <header>
        @RenderSection("Navigation", required: true)
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer>
        @RenderSection("Footer", required: false)
    </footer>

    <partial name="~/Pages/Shared/Tesseract/_TesseractModal.cshtml"/>

    <script src="~/dist/js/bundle.js"></script>

</body>
</html>
