@{
    Layout = null;
}

@RenderSection("Styles", required: false)

<header class="modal-header">
    <h4 class="modal-title" id="modal-title">@RenderSection("Header", required: true)</h4>
    <button type="button" class="close" accesskey="c" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</header>
<div id="modal-content" class="modal-body">
    @RenderBody()
</div>

<footer class="modal-footer">
    @RenderSection("Footer", required: false)
</footer>

@RenderSection("Scripts", required: false)